.company-table  {
  width: 100%;
}
tr:first-child {
  border-top: 1px solid #000;
}
tr {
  border-bottom: 1px solid #000;
}
tr th {
  width: 30%;
  padding: 20px 0;
}
tr td {
  width: 70%;
  padding: 20px 0;
}